<ion-view class="body-bg" view-title="Account" style="background-image: url(img/body-background.jpg); background-repeat: no-repeat; background-position: 0 0; background-size: cover;">
  <ion-content scroll="false">
      <div class="bar bar-header">
         
         <h1 class="title">Contact Admin</h1>
         <button class="button-icon icon  ion-ios7-arrow-back ion-android-arrow-back" style="color:white" ui-sref="account_settings"></button>
      </div>
  <div class="full-height">
    <div class="account-block contact-admin no-bg-color">
     <div class="list">
          <label class="item item-select">
                <select ng-model="selectedId" x-ng-change="getCategoryId(selectedId)"  data-ng-options="category.id as category.category  for category in categories">
                    <option value="">--Select Category--</option>
                </select>
          </label>          
      </div>
      <div class="list text-block">
         <textarea ng-model="adminText" value="" name="" placeholder="Hello, help me achieve  my weight loss goal by  sponsoring my campaign!"></textarea>
      </div>
      <div class="contribute-btn">
          <button class="button button-stable" ng-click="adminText=''" >Clear</button>
          <button class="button button-calm" ng-click="sendMail(adminText)" ng-class="{ 'gold-bg': $root.isMaintain == 'true'}">Send</button>
      </div>
    </div>
    </div>
  </ion-content>
</ion-view>
