<ion-view class="body-bg" view-title="Account" style="background-image: url(img/body-background.jpg); background-repeat: no-repeat; background-position: 0 0; background-size: cover;">
  <ion-content>
  <div class="full-height">
    <div class="convert-currency-wrap">
     <h5 class="heading">Calories Available<span><i class="ion-android-star"></i> 5/100</span></h5>
     <div class="convert-currency-block">
      <div class="block">
      <img src="img/calories.svg" alt="">
      <h5>Calories</h5>
      </div>
      <div class="block">
      <i class="icon ion-arrow-right-c"></i>
      </div>
      <div class="block">
      <img src="img/money.svg" alt="">
      <h5>Money</h5>
      </div>
      <div class="currency-submit">
       <input type="submit" value="Submit" id="submit" name="submit">
      </div>
     </div>
     <div class="convert-currency-block">
      <div class="block">
      <img src="img/calories.svg" alt="">
      <h5>Calories</h5>
      </div>
      <div class="block">
      <i class="icon ion-arrow-right-c"></i>
      </div>
      <div class="block">
      <img src="img/money.svg" alt="">
      <h5>Money</h5>
      </div>
      <div class="currency-submit">
       <input type="submit" value="Submit" id="submit" name="submit">
      </div>
     </div>
     <div class="currency-account-balance">
     <div class="left"><h5>Account Balance</h5></div>
     <div class="right"><h5>$ 123.50</h5></div>
     </div>
    </div>
    </div>
  </ion-content>
</ion-view>
