<ion-view class="body-bg" view-title="Account" style="background-image: url(img/body-background.jpg); background-repeat: no-repeat; background-position: 0 0; background-size: cover;">
  <ion-content>
  <div class="full-height">
    <div class="account-block">
     <h3>Your Amount</h3>
     <div class="content">
      <div class="range-blocks">
          <ion-list-header>
              <ion-badge _ngcontent-cbo-6="" color="secondary" class="badge-wp badge-wp-secondary"><h4>&dollar; 95.00</h4></ion-badge>
          </ion-list-header> 
          <ion-range _ngcontent-cbo-6="" class="range-wp ng-valid ng-touched ng-dirty">
            
              <div class="range-block range-slider range-energized">
                <div class="range-bar"></div>
                <div class="range-bar range-bar-active" style="right: 62.55%;"></div>
                <div class="range-knob-handle" role="slider" style="left: 37.45%;">
                    <div class="range-knob"></div>
                </div>
              </div>
                
          </ion-range>
        </div>
        <div class="account-fund-form">
            <input value="Select" type="submit">
        </div>
     </div>
    </div>
    </div>
  </ion-content>
</ion-view>
