
<ion-view view-title="Account" style="background-image: url(img/body-background.jpg); background-repeat: no-repeat; background-position: 0 0; background-size: cover;">
  <ion-content>
    <div class="full-height">
    <div class="account-block account-fund">
     <h3>Sponsor more</h3>
     <div class="content">
     <ul>
     <li class="active">
      <ion-radio ng-model="choice" ng-value="'A'">CREDIT CARD</ion-radio>
     </li>
      <li>
     <ion-radio ng-model="choice" ng-value="'B'">CHECKING</ion-radio>
     </li>
      <li>
     <ion-radio ng-model="choice" ng-value="'c'">PAYPAL</ion-radio>
     </li>
     </ul>
     <div class="account-fund-form">
     <input type="password" id="password" name="password" placeholder="Password">
     <p><a href="#">Click here</a> to authorize with fingerprint <br> <a href="">Click here</a> to exit.</p>
     <input type="submit" value="Submit">
     </div>
     </div>
    </div>
    </div>
  <div class="overlay">
  <div class="scan-finger">
  <img src="img/finger-error.png">
  <p>Please Swipe Again</p>
  <a class="exit-btn" href="#">Exit</a>
  </div>
  </div>
  </ion-content>
</ion-view>
