
<ion-view view-title="Account" style="background-image: url(img/calorie-background.jpg); background-repeat: no-repeat; background-position: 0 0; background-size: cover;">
 <ion-content>
<div class="bar bar-header">	
<i class="icon ion-ios-arrow-back"></i>
 <h1 class="title">Profile</h1>
 <button class="button icon setting ion-gear-a"></button>
</div>

<div class="content has-header profile-block">
<div class="profile-inner">  
<div class="profile-image">
<img src="img/circle.png" class="circle" alt="">
</div>
<div class="profile-content">	
<h4>User Name</h4>
<span class="progress">Progress <strong>50%</strong></span>
<div class="rating">
<span class="rating-full">calorie <strong><i class="ion-android-star"></i> 100</strong></span> 
<span class="rating-give">give n <strong><i class="ion-android-star"></i> 5</strong></span> 
</div>
</div>
</div>
<div class="profile-details">
<ul>
<li>
<h5>Weight</h5>
<img src="img/weight.svg" alt=""><span>79</span>
</li> 
<li>
<h5>Height</h5>
<img src="img/height.svg" alt=""><span>178</span>
</li> 
<li>
<h5>Goal</h5>
<img src="img/goal.svg" alt=""><span>10</span>
</li> 
<li>
<h5>Duration</h5>
<img src="img/duration.svg" alt=""><span>4W</span>
</li> 
</ul>
</div>
<div class="profile-addmore">
<ul>
<li><button class="button button-deep">+ Support Others</button></li>
<li><button class="button button-deep">+ Post Update</button></li>
<li><button class="button button-deep">+ Market Campaign</button></li>
<li><button class="button button-deep">+ Add Funds</button></li>
<li><button class="button button-deep">+ Global Chat</button></li>
<li class="active"><button class="button button-deep">+ Contributed Campaigns</button></li>
</ul>
</div>
<div class="profile-chat">
<div class="campaign-setup">
<h2>Your Campaign Setup <br> is not complete</h2>
<h3>Please complete your Campaign setup to unlock all of our key features, tools and community. </h3>
</div>
</div>
<div class="profile-more-fld">
<div class="left">
<a href="#"><i class="icon ion-plus"></i></a>
</div>
<div class="right">
<input type="text" id="text" name="text" placeholder="Add Comment">
<input type="submit" value="Send">
</div>
</div>

</div>
  </ion-content>
</ion-view>
