<ion-view view-title="My Contributions" class="screenBackground" >
   <ion-content>
      <div class="bar bar-header">
<!--          <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>-->
         <button class="button-icon icon  ion-ios7-arrow-back ion-android-arrow-back" style="color:white" ui-sref="profile"></button>
         <h1 class="title">My Contributions</h1>
         <!--<button class="button icon search ion-ios-search"></button>-->
      </div>
      <div class="content has-header compaignbrowse-block" >
         <p class="my-contributions" ng-if="checkContributions=='0'">No Such Contributions</p>
        <ul class="compaignbrowse-list"  >
            <li ng-if="checkContributions!='0'" ng-repeat="contribution in contributions | unique">
            <div class="compaignbrowse-col">
               <div class="campaignbrowse-bg">
                <div class="profile-image"  ng-class="{ 'profile-image-m': $root.isMaintain == 'true'}">
                   <img ng-src="img/no-user.png" class="circle" alt="">
                </div>
                 <h4 ng-bind="contribution.username">User Name</h4>
                 <ul>
                 <li>
                  <h5>Weight</h5>
                 <div class="user-details"><img ng-src="img/weight.svg" alt="" change-svg><span >{{contribution.contribute_campaign[0].current_weight || '0'}}</span></div>
                 </li>
                 <li>
                  <h5>Height</h5>
                  <div class="user-details"><img ng-src="img/height.svg" alt="" change-svg><span>{{contribution.contribute_campaign[0].campaign_height || '0'}}</span></div>
                 </li>
                 <li>
                  <h5>Goal</h5>
                  <div class="user-details"><img ng-src="img/goal.svg" alt="" change-svg><span>{{contribution.contribute_campaign[0].proposed_weight || '0'}}</span></div>
                 </li>
                 <li>
                  <h5>Duration</h5>
                 <div class="user-details"><img ng-src="img/duration.svg" alt="" change-svg><span>{{contribution.contribute_campaign[0].campaign_duration || '0'}}</span></div>
                 </li>
                 </ul>
                 <div class="user-chat-table"> 
                        <div class="p-sec">
                            <div class="p-bar"><span class="skill" style="width:{{contribution.contribute_campaign[0].progress_percentage}}% ;background:#28a54c;"></span></div>
                        </div>
                    </div>
               </div>   
              <button class="button button-calm" ng-click="goToMYContributionsUserDetails({{contribution}})" ng-class="{ 'gold-bg': $root.isMaintain == 'true'}">Running</button>
            </div>
            </li>
        </ul>
      </div>

     
   </ion-content>
   
</ion-view>




