<ion-view view-title="Account" style="background-image: url(img/body-background.jpg); background-repeat: no-repeat; background-position: 0 0; background-size: cover;">
  <ion-content>
    <div class="padding">
      <ul class="checkbox-block calorie-block">
          <li class="text-block card col-50">
              <div class="item item-image">
                  <img src="img/calories-pic1.png" alt="">
              </div>
              <a class="item">
                <h3 class="ng-binding">20 Calories</h3>
                <h4 class="ng-binding">$5.70</h4>
              </a>
          </li>
          <li class="text-block card col-50">
             <div class="item item-image">
                  <img src="img/calories-pic2.png" alt="">
              </div>
              <a class="item">
                <h3 class="ng-binding">120 Calories</h3>
                <h4 class="ng-binding">$32.40</h4>
              </a>
          </li>
          <li class="text-block card col-50">
              <div class="item item-image">
                  <img src="img/calories-pic3.png" alt="">
              </div>
              <a class="item">
                <h3 class="ng-binding">40 Calories</h3>
                <h4 class="ng-binding">$10.80</h4>
              </a>
          </li>
          <li class="text-block card col-50">
              <div class="item item-image">
                  <img src="img/calories-pic4.png" alt="">
              </div>
              <a class="item">
                <h3 class="ng-binding">500 Calories</h3>
                <h4 class="ng-binding">$135.00</h4>
              </a>
          </li>
          <li class="text-block card col-50">
              <div class="item item-image">
                  <img src="img/calories-pic5.png" alt="">
              </div>
              <a class="item">
                <h3 class="ng-binding">75 Calories</h3>
                <h4 class="ng-binding">$45.00</h4>
              </a>
          </li>
          <li class="text-block card col-50">
              <div class="item item-image">
                  <img src="img/calories-pic6.png" alt="">
              </div>
              <a class="item">
                <h3 class="ng-binding">1000 Calories</h3>
                <h4 class="ng-binding">$210.00</h4>
              </a>
          </li>
      </ul>           
    </div>
  </ion-content>
</ion-view>
