<ion-slide-box class="questions-slider" >
    <ion-slide  ng-repeat="questionList in questionLists track by $index">
        <ion-view class="body-bg pane" view-title="Account" id="questionList" style="background-image: url(img/body-background.jpg); background-repeat: no-repeat; background-position: 0 0; background-size: cover;">

            <ion-content scroll="false">
                <div class="bar bar-header">
                    <button class="button-icon icon  ion-ios7-arrow-back ion-android-arrow-back" style="color:white" ng-click="myOwnProfile()"></button>
                </div>
                <div class="full-height" ng-if="slide!=3">
                    <div class="question-feedback-wrap">
                        <ion-list-header>
                            <ion-badge _ngcontent-cbo-6="" color="secondary" class="badge-wp badge-wp-secondary"><h3 class="head">{{sliderProgress}}%</h3></ion-badge>
                        </ion-list-header>
                        <ion-range _ngcontent-cbo-6="" class="range-wp ng-valid ng-touched ng-dirty">
                            <div class="range-block range-slider range-energized">
                              <div class="range-bar"></div>
                              <div class="range-bar range-bar-active" style="right: {{100-sliderProgress}}%;"></div>
                              <div class="range-knob-handle" role="slider" style="left: 10.45%;">
                              </div>
                            </div>
                        </ion-range>
                        <div class="question-feedback-inner" ng-if="slide!=6">
                           <h3 class="question-header-text" ng-class="{ 'gold-text': $root.isMaintain == 'true'}">Question {{questionList.question_id}}</h3>
                           <p class="white-bg">{{questionList.question}}</p>
                           <div class="content">
                            <div class="question-feedback-blocks less-gap">
                                <div class="white-block" ng-if="slide==1">
                                    <ion-range _ngcontent-cbo-6="" class="range-wp ng-valid ng-touched ng-dirty">
                                        <rzslider  rz-slider-model="slider.value"   rz-slider-on-click="getSliderVal()" rz-slider-options="slider.options"></rzslider>
                                    </ion-range>
                                </div>
                                <div class="white-block" ng-if="slide==4">
                                <ion-item>
                                  <ion-label>Write it in here:</ion-label>
                                  <input placeholder="Enter your occupation" ng-model="data.occupation" type="text" class="no-radius">
                                  <p>This will help connect with contributors, and give an idea of your activity level on a daily basis</p>
                                </ion-item>
                                </div>

                                <div class="white-block" ng-if="slide==2">
                                    <ion-item scroll="false">
                                      <ion-label>List of Counttries around the world:</ion-label>
                                        <select ng-model="data.selectedName" x-ng-change="getCountryName(selectedName)"  data-ng-options="country as country.country_name  for country in countries">
                                            <option value="">--Select country--</option>
                                        </select>
                                    </ion-item>
                                </div>
                            </div>

                           </div>
                        </div>

                            <div class="question-feedback-inner" ng-if="slide==6">

                                <p class="white-bg important-red-bg">{{questionList.question}}</p>
                                <div class="content">
                                 <div class="question-feedback-blocks less-gap">
                                   <div class="white-block">
                                       <ion-item ng-repeat="radioArray in radioArrays">
                                         <input style="width: 30px;" type="radio" name="radioArray" ng-change="getValue(data)" data-ng-model="data" data-ng-value="radioArray" > {{radioArray}}
                                         <div class="display: inline-block; height: 5px;"></div>

                                       </ion-item>

                                   </div>
                                 </div>

                                </div>
                            </div>
                        <div class="question-button">
                            <a  class="button button-calm button-block" id="next" ng-class="{ 'gold-bg': $root.isMaintain == 'true'}" ng-click="question1(data)">Next</a>
                        </div>
                    </div>
                </div>



            <div class="full-height" ng-if="slide==3">
              <div class="question-feedback-wrap">
                <ion-list-header>
                        <ion-badge _ngcontent-cbo-6="" color="secondary" class="badge-wp badge-wp-secondary"><h3 class="head">{{sliderProgress}}%</h3></ion-badge>
                    </ion-list-header>
                  <ion-range _ngcontent-cbo-6="" class="range-wp ng-valid ng-touched ng-dirty">
                        <div class="range-block range-slider range-energized">
                          <div class="range-bar"></div>
                          <div class="range-bar range-bar-active" style="right: {{100-sliderProgress}}%;"></div>
                          <div class="range-knob-handle" role="slider" style="left:20%;">
                          </div>
                        </div>
                    </ion-range>
                    <div class="question-feedback-inner">
               <h3 class="question-header-text" ng-class="{ 'gold-text': $root.isMaintain == 'true'}">Question {{questionList.question_id}}</h3>
               <p>{{questionList.question}}</p>
               <div class="content"  >
                <div class="question-feedback-blocks" >
                   <div class="block" >
                    <a>
                    <img ng-src="img/Aweful.svg" alt="" id='Aweful' ng-class="{'aboutDay': aweful, 'aboutDayl': !aweful}" ng-click='aweful = !aweful' toggle-color change-svg>
                    <h5 id='Aweful' >Aweful</h5>
                  </a>

                   </div>
                  <div class="block" >
                     <a >
                      <img ng-src="img/bad.svg" alt="" id='Bad' ng-class="{'aboutDay': bad, 'aboutDayl': !bad}" ng-click='bad =!bad'  toggle-color change-svg>
                      <h5 id='Bad'  >Bad</h5>
                     </a>
                 </div>
                   <div class="block" >
                     <a >
                     <img ng-src="img/good.svg" alt="" id='Good' ng-class="{'aboutDay': good, 'aboutDayl': !good}" ng-click='good =!good'  toggle-color change-svg>
                     <h5 id='Good'  >Good</h5>
                </a>
                 </div>
                   <div class="block" >
                     <a >
                       <img ng-src="img/good.svg" alt="" id='Great' ng-class="{'aboutDay': great, 'aboutDayl': !great}" ng-click='great =!great'  toggle-color change-svg>
                       <h5 id='Great' >Great</h5>
                     </a>
                 </div>
                </div>

               </div>
                </div>
                <div class="question-button">
                      <a class="button button-calm button-block" ng-class="{ 'gold-bg': $root.isMaintain == 'true'}" ng-click="question1(data)">Next</a>
                </div>
              </div>
            </div>

            </ion-content>





            <ion-pull-up-footer class="bar-calm" initial-state="minimized"  max-height="265" on-expand="onFooterExpand()" on-collapse="onFooterCollapse()" state="footerState" default-behavior="show" >
                <ion-pull-up-handle
                ng-class="{ 'gold-bg': $root.isMaintain == 'true'}"
                icon-expand="ion-chevron-up" icon-collapse="ion-chevron-down" width="100" height="25" style="border-radius: 25px 25px 0 0">
                </ion-pull-up-handle>

                <ion-pull-up-content scroll="false" class="footerContent" >

                 <div class="page-footer">
                    <a class="button" ng-class="{ 'gold-bg': $root.isMaintain == 'true'}" ng-click="logout()" >Logout</a>
                    <a class="button" ng-class="{ 'gold-bg': $root.isMaintain == 'true'}" ng-click="myOwnProfile()" >Profile</a>
                    <a class="button" ui-sref="login" ng-if="check=='0'">Log in</a>
                    <a class="button" ng-click="signUp()" ng-if="check=='0'">My Campaign</a>
                    <p class="ac-bal">Account Balance: <span class="amount" ng-if="check=='0'">&nbsp; $xxx.xx</span>
                    <span class="amount" ng-if="check==1">&nbsp; ${{wallet || '0'}}</span>
                    </p>
                    <div class="p-sec">
                       <p>Weight Loss Progress</p>
                       <div class="p-bar"><span class="skill" style="width:{{total_progress}}%"></span></div>
                    </div>
                    <div class="p-sec">
                       <p>Goal Duration</p>
                       <div class="p-bar"><span class="skill" style="width:{{((currentWeight-goal)/currentWeight)*100}}%"></span></div>


                    </div>
                        <p ng-if="check=='0'">No. of campaign funded <span >0</span></p>
                         <p ng-if="check=='1'">No. of campaign funded <span >  {{total_campaign || '0'}}</span></p>

                 </div>

                </ion-pull-up-content>
            </ion-pull-up-footer>

        </ion-view>
    </ion-slide>
</ion-slide-box>
