<ion-view id="thanks" class="pane" view-title="Account" style="background-image: url(img/calorie-background.jpg); background-repeat: no-repeat; background-position: 0 0; background-size: cover;">
    <ion-content scroll="<true></true>">
        <div class="bar bar-header">
            <button class="button-icon icon  ion-ios7-arrow-back ion-android-arrow-back" style="color:white" ng-click="myOwnProfile()"></button>
            <h1 class="title">Profile</h1>
        </div>

        <div class="content has-header profile-block">
            <div ng-if="$root.isMaintain == 'false'">
                <div class="profile-inner">
                    <div class="profile-image" ng-if="single_user.profile_videos.length > 0">
                        <img ng-src="{{single_user.profile_videos[0].thumb_url}}" class="circle" alt="">
                    </div>
                    <div class="profile-image" ng-if="single_user.profile_videos.length == 0">
                        <img ng-src="{{noImage}}" class="circle" alt="" image-exists/>
                    </div>
                    <div class="profile-content">
                        <h4 ng-bind="single_user.user_details.username"></h4>
                        <span class="progress">Progress <strong>{{motivation_percentage || 0}}%</strong></span>
                        <div class="rating">
                            <span class="rating-full">calorie <strong><i class="ion-android-star"></i> {{total_calorie_have || 0}}</strong></span>
                            <span class="rating-give">give n <strong><i class="ion-android-star"></i>{{total_calorie_given || 0}}</strong></span>
                        </div>
                    </div>
                </div>
            </div>
            <div ng-if="$root.isMaintain == nll">
                <div class="profile-inner">
                    <div class="profile-image" ng-class="{ 'profile-image-m': $root.isMaintain == 'true'}" ng-if="single_user.profile_videos.length > 0">
                        <img ng-src="{{single_user.profile_videos[0].thumb_url}}" class="circle" alt="">
                    </div>
                    <div class="profile-image" ng-class="{ 'profile-image-m': $root.isMaintain == 'true'}" ng-if="single_user.profile_videos.length == 0">
                        <img ng-src="{{noImage}}" class="circle" alt="">
                    </div>
                    <div class="profile-content">
                        <h4 ng-bind="single_user.user_details.username"></h4>
                        <div class="rating">
                            <span class="rating-full">calorie <strong><i class="ion-android-star"></i> {{total_calorie_have || 0}}</strong></span>
                            <span class="rating-give">give n <strong><i class="ion-android-star"></i>{{total_calorie_given || 0}}</strong></span>
                        </div>
                    </div>
                </div>
            </div>
            <div ng-if="$root.isMaintain == 'true'">
                <div class="profile-inner">
                    <div class="profile-image" ng-class="{ 'profile-image-m': $root.isMaintain == 'true'}" ng-if="single_user.profile_images==0">
                        <img ng-src="{{single_user.profile_videos[0].thumb_url}}" class="circle" alt="">
                    </div>
                    <div class="profile-image" ng-class="{ 'profile-image-m': $root.isMaintain == 'true'}" ng-if="single_user.profile_images!=0">
                        <img ng-src="{{noImage}}" class="circle" alt="">
                    </div>
                    <div class="profile-content">
                        <h4 ng-bind="single_user.user_details.username"></h4>
                        <div class="rating">
                            <span class="rating-full">calorie <strong><i class="ion-android-star"></i> {{total_calorie_have || 0}}</strong></span>
                            <span class="rating-give">give n <strong><i class="ion-android-star"></i>{{total_calorie_given || 0}}</strong></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="profile-details">
                <ul>
                    <li>
                        <h5>Weight</h5>
                        <img ng-src="img/weight.svg" alt="" change-svg><span>{{single_user.campaign[0].current_weight || '0'}}</span>
                    </li>
                    <li>
                        <h5>Height</h5>
                        <img ng-src="img/height.svg" alt="" change-svg><span>{{single_user.campaign[0].campaign_height || '0'}}</span>
                    </li>
                    <li>
                        <h5>Goal</h5>
                        <img ng-src="img/goal.svg" alt="" change-svg><span>{{single_user.campaign[0].proposed_weight || '0'}}</span>
                    </li>
                    <li>
                        <h5>Duration</h5>
                        <img ng-src="img/duration.svg" alt="" change-svg><span>{{single_user.campaign[0].campaign_duration || '0'}}</span>
                    </li>
                </ul>
            </div>
            <div class="profile-addmore" ng-class="{ 'gold-bg': $root.isMaintain == 'true'}">
                <ul>
                    <li><button class="button button-deep" ng-class="{ 'gold-button-deep': $root.isMaintain == 'true'}" ng-click="user_list()">+ Support Others</button></li>
                    <li><button class="button button-deep" ng-class="{ 'gold-button-deep': $root.isMaintain == 'true'}" ng-disabled="chekSignup==1" ui-sref="upload-video">+ Post Update</button></li>
                    <li><button class="button button-deep" ng-class="{ 'gold-button-deep': $root.isMaintain == 'true'}" ui-sref="myCampaign">+ Market Campaign</button></li>
                    <li><button class="button button-deep" ng-class="{ 'gold-button-deep': $root.isMaintain == 'true'}" ui-sref="addFund">+ Add Funds</button></li>
                    <li><button class="button button-deep" ng-class="{ 'gold-button-deep': $root.isMaintain == 'true'}" ui-sref="globalChat">+ Global Chat</button></li>
                    <li><button class="button button-deep" ng-class="{ 'gold-button-deep': $root.isMaintain == 'true'}" ng-click="myContribution()">+ Contributed Campaigns</button></li>
                </ul>
            </div>
            <div class="star-section">
                <div class="star-available">
                    <span>Star Available : {{total_calorie_have || 0}}/100 <img src="img/star-w.png" alt=""></span>
                </div>
                <div class="star-given">
                    <span>Star Given : {{total_calorie_given || 0}} <img src="img/star-y.png" alt=""></span>
                </div>
            </div>
            <!--<div class="thank-messsage">
<h2>Thank you for your support! ${{contribution_amount}}!</h2>
<a class="back" ng-if="campaign_status==0" ng-click="startQuestion()" ng-class="{ 'gold-button-deep': $root.isMaintain == 'true'}">Back to my campaign</a>
<a class="back" ng-if="campaign_status==1" ng-click="myOwnProfile()" ng-class="{ 'gold-button-deep': $root.isMaintain == 'true'}">Back to profile</a>
</div>-->

            <div style="padding : 40px 0" class="profile-chat" id="profileChat">
                <div class="list" ng-repeat="message in messages">
                    <div class="item item-avatar">
                        <img ng-src="{{message.user_image || 'img/no-user.png'}}" alt="" image-exists>

                        <div class="avater-content">
                            <div ng-model="message.text">{{message.text}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        </div>
    </ion-content>
    <ion-footer-bar class="fixed-chatting">
        <div class="profile-more-fld" ng-class="{ 'gold-bg': $root.isMaintain == 'true'}">
            <div class="left">
                <a href="javascript:void(0)"><i class="icon ion-plus" ng-class="{ 'gold-icon': $root.isMaintain == 'true'}"></i></a>
            </div>
            <div class="right">
                <input type="text" ng-model="campaign_text" ng-click="checkMember()" class="inputBox" placeholder="Add Comment">
                <input type="submit" ng-click="addMessage(campaign_text)" value="Send">
            </div>
        </div>
    </ion-footer-bar>

    <ion-pull-up-footer class="bar-calm" initial-state="minimized" max-height="265" on-expand="onFooterExpand()" on-collapse="onFooterCollapse()" state="footerState" default-behavior="show">
        <ion-pull-up-handle ng-class="{ 'gold-button-deep': $root.isMaintain == 'true'}" icon-expand="ion-chevron-up" icon-collapse="ion-chevron-down" width="100" height="25" style="border-radius: 25px 25px 0 0">
        </ion-pull-up-handle>

        <ion-pull-up-content scroll="false" class="footerContent">
            <div class="page-footer">
                <a class="button" ng-click="logout()" ng-class="{ 'gold-bg': $root.isMaintain == 'true'}">Logout</a>
                <a class="button" ng-click="myOwnProfile()" ng-class="{ 'gold-bg': $root.isMaintain == 'true'}">Profile</a>
                <p class="ac-bal">Account Balance: <span class="amount">&nbsp; ${{my_details_other_profile.userInfo.result.wallet || '0'}}</span>
                </p>
                <div class="p-sec">
                    <p>Weight Loss Progress</p>
                    <div class="p-bar"><span class="skill" style="width:{{total_progress || '0'}}%"></span></div>
                </div>
                <div class="p-sec">
                    <p>Goal Duration</p>
                    <div class="p-bar"><span class="skill"></span></div>
                    <p>No. of campaign funded <span>  {{my_details_other_profile.userInfo.result.total_campaign || '0'}}</span></p>
                </div>
            </div>
        </ion-pull-up-content>
    </ion-pull-up-footer>

    <script type="text/ng-template" id="thanksModal.html">
        <div class="thank-messsage">
            <h2>Thank you for your support! ${{contribution_amount}}!</h2>
            <a class="back" ng-if="campaign_status==1" ng-click="myOwnProfile()" ng-class="{ 'gold-button-deep': $root.isMaintain == 'true'}">Back to profile</a>
            <a class="back" ng-if="campaign_status==0" ng-click="startQuestion()" ng-class="{ 'gold-button-deep': $root.isMaintain == 'true'}">Complete My Campaign Setup</a>

        </div>
    </script>

</ion-view>