<ion-view cache-view="false" style="background-image: url(img/body-background.jpg);  background-position: 0 0; background-size: cover;">
     <ion-header-bar  class="bar bar-subheader header-fixed">
          <div class="head-top">
            <h3 class="white">Global chat</h3>
           <button ui-sref="account_settings" class="ion-ios-gear setting-icon"></button>
           <div class="profile-details global-details">
              <ul>
                 <li>
                    <img src="img/campaign.svg" alt="">    
                    <h5>Campaign</h5>
                 </li>
                 <li>
                    <img src="img/weight.svg" alt="">
                    <h5>Current</h5>
                 </li>
                 <li>
                    <img src="img/goal.svg" alt="">  
                    <h5>Goal</h5>
                 </li>
                 <li>
                    <img src="img/progress.svg" alt=""> 
                    <h5>Progress</h5>
                 </li>
              </ul>
           </div>
          </div>   
        </ion-header-bar>
    
     
      
    <ion-content class="has-headerfix" >
       
      <div class="content global-block">
          
        <div class="extra-padding">
         <ion-list >
            <div class="user-chat-table user-scroll" >
               <div class="row"  ng-repeat="users in userListShowbeforeLogin">
                   <div class="col" ng-click="userprofile(users)">
                      <h5>{{users.user_details.username || 'Demo'}}</h5>
                   </div>
                   <div class="col">
                      <h5>{{users.campaign[0].current_weight || '0'}}</h5>
                   </div>
                   <div class="col">
                      <h5>{{users.campaign[0].proposed_weight || '0'}}</h5>
                   </div>
                   <div class="col p-sec">
   <!--                 <h5 >{{users.campaign[0].campaign_height || '0'}}% </h5>-->
                    <div class="p-sec">

                       <div class="p-bar"><span class="skill" style="width:{{users.campaign[0].campaign_height*11.33 || '0'}}%"></span></div>
                       </div>
                  </div>
               </div>

            </div>
             <ion-infinite-scroll style="height: auto;" ng-if="!noMoreItemsAvailable"
                    on-infinite="loadMore()" icon="ion-loading-c" distance="1%">
         </ion-infinite-scroll>
         </ion-list>
         
        </div>
         
         
         <div class="profile-addmore new-feed">
            <ion-slide-box class="news-slider" auto-play=true does-continue=true>
                <ion-slide ng-repeat="newsFeed in newsFeeds" >
                            <a  ng-bind-html="newsFeed"></a>   
                           </ion-slide>
            </ion-slide-box>
           
         </div>
         <div class="profile-chat user-scroll">
            <div class="list">
               <div class="item item-avatar">
                  <img src="img/circle.png" alt="">
                  <div class="avater-content">
                     That is a great campaign <a class="user" href="#">user3</a>.       
                      <!-- <div class="user-popup">
                        <ul>
                          <li>
                           <img src="img/give-calorie.svg" alt="">
                           <p> Give Calorie </p>
                         </li>
                         <li>
                           <img src="img/Mute-user.svg" alt="">
                           <p> Mute User </p>
                         </li>
                         <li>
                           <img src="img/add-friend.svg" alt="">
                           <p> Add Friend </p>
                         </li>
                         <li>
                          <img src="img/report-user.svg" alt="">
                          <p> Report User </p>
                        </li>
                        </ul>
                   </div>-->
                     Try eating before 4pm, may help.
                  </div>
               </div>
            </div>
            <div class="list">
               <div class="item item-avatar">
                  <img src="img/circle.png" alt="">
                  <div class="avater-content">
                     <p>I concur</p>
                  </div>
               </div>
            </div>
            <div class="list">
               <div class="item item-avatar">
                  <img src="img/circle.png" alt="">
                  <div class="avater-content">
                     <p>Thanks <a class="user" href="#">user1</a></p>
                  </div>
               </div>
            </div>
            <div class="list">
               <div class="item item-avatar">
                  <img src="img/circle.png" alt="">
                  <div class="avater-content">
                     <p>Here's a star for that tip <a class="user" href="#">user1</a></p>
                  </div>
               </div>
            </div>
             
             <div class="list">
               <div class="item item-avatar">
                  <img src="img/circle.png" alt="">
                  <div class="avater-content">
                     <p>Here's a star for that tip <a class="user" href="#">user1</a></p>
                  </div>
               </div>
            </div>
             
             <div class="list">
               <div class="item item-avatar">
                  <img src="img/circle.png" alt="">
                  <div class="avater-content">
                     <p>Here's a star for that tip <a class="user" href="#">user1</a></p>
                  </div>
               </div>
            </div>
         </div>
          
      </div>
        
   </ion-content>
    <ion-footer-bar class="fixed-chatting">
        <div class="profile-more-fld">
            <div class="left">
               <a href="#"><i class="icon ion-plus"></i></a>
            </div>
            <div class="right">
               <input type="text" ng-model="campaign_text" on-tap="checkMember()" class="inputBox" placeholder="Add Comment" >
               <input type="submit"  value="Send">
            </div>
         </div>
    </ion-footer-bar>
       <ion-pull-up-footer class="bar-calm" initial-state="minimized"  max-height="265" on-expand="onFooterExpand()" on-collapse="onFooterCollapse()" state="footerState" default-behavior="show" >
        <ion-pull-up-handle icon-expand="ion-chevron-up" icon-collapse="ion-chevron-down" width="100" height="25" style="border-radius: 25px 25px 0 0">
        </ion-pull-up-handle>

        <ion-pull-up-content scroll="false" class="footerContent">
           
         <div class="page-footer"  >
                
             <!--div class="cross" ng-click="footerCloseBtn()" >
               <a href="">
               <i class="ion-close icon"></i>
               </a>
            </div-->
               <a class="button" ng-click="logout()" ng-if="check=='1'">Logout</a>
                <a class="button" ng-click="myOwnProfile()" ng-if="check=='1'">Profile</a>
            <a class="button" ui-sref="login" ng-if="check=='0'">Log in</a>
            <a class="button" ng-click="signUp()" ng-if="check=='0'">My Campaign</a>
            <p class="ac-bal">Account Balance: <span class="amount" ng-if="check=='0'">&nbsp; $xxx.xx</span>
            <span class="amount" ng-if="check==1">&nbsp; ${{wallet || '0'}}</span>
            </p>
            <div class="p-sec">
               <p>Weight Loss Progress</p>
               <div class="p-bar"><span class="skill" style="width:{{total_progress}}%"></span></div>
            </div>
            <div class="p-sec">
               <p>Goal Duration</p>
               <div class="p-bar"><span class="skill" style="width:{{((currentWeight-goal)/currentWeight)*100}}%"></span></div>
               
               
            </div>
                <p ng-if="check=='0'">No. of campaign funded <span >0</span></p>
                 <p ng-if="check=='1'">No. of campaign funded <span >  {{total_campaign || '0'}}</span></p>
           
         </div>  
               
        </ion-pull-up-content>
    </ion-pull-up-footer>
</ion-view>