<ion-view id="global_chat" cache-view="false" style="background-image: url(img/body-background.jpg);  background-position: 0 0; background-size: cover;">
     <ion-header-bar class="bar bar-subheader header-fixed">
          <div class="head-top">
            <div class="global_chat_header">Global chat</div>
            <!--<h3 class="white">Global chat</h3>-->
           <button ng-if="show_gear==1" ui-sref="account_settings" ng-click="check_campaignId()" class="ion-ios-gear setting-icon"></button>
           <div class="profile-details global-details">
              <ul>
                 <li>
                    <img ng-src="img/campaign.svg" alt="" change-svg>    
                    <h5>Campaign</h5>
                 </li>
                 <li>
                    <img ng-src="img/weight.svg" alt="" change-svg>
                    <h5>Current</h5>
                 </li>
                 <li>
                    <img ng-src="img/goal.svg" alt="" change-svg>  
                    <h5>Goal</h5>
                 </li>
                 <li>
                    <img ng-src="img/progress.svg" alt="" change-svg> 
                    <h5>Progress</h5>
                 </li>
              </ul>
           </div>
          </div>   
        </ion-header-bar>
   
    <ion-content class="has-headerfix" scroll="false">
       
      <div class="content global-block">
          
        <div class="extra-padding">
         <ion-list>
            <div class="user-chat-table user-scroll" >
               <div class="row noPadding" ng-repeat="users in userListShowbeforeLogin">
                   <div class="col" ng-click="userprofile(users)">
                      <h5 class="camp-btn">{{users.user_details.username || 'Demo'}}</h5>
                   </div>
                   <div class="col">
                      <h5>{{users.campaign[0].current_weight || '0'}}</h5>
                   </div>
                   <div class="col">
                      <h5 >{{users.campaign[0].proposed_weight || '0'}}</h5>
                   </div>
                   <div class="col p-sec">
   <!--                 <h5 >{{users.campaign[0].campaign_height || '0'}}% </h5>-->
                    <div class="p-sec">

                       <div class="p-bar"><span class="skill" style="width:{{users.campaign[0].campaign_height*11.33 || '0'}}%"></span></div>
                       </div>
                  </div>
               </div>
                <div id="loadMore" class="load_more" ng-if="userListShowbeforeLogin.length > 0" ng-click="loadMore()">
                    <span>Load more</span> 
                </div>

            </div>
            
         </ion-list>
          <!--<ion-infinite-scroll style="height: auto;" ng-if="!noMoreItemsAvailable"
                    on-infinite="loadMore()" icon="ion-loading-c" distance="1%">
         </ion-infinite-scroll>-->
        </div>
         
         
        <div class="profile-addmore new-feed" ng-if="newshow===1" ng-class="{ 'gold-bg': $root.isMaintain == 'true'}">
            <ion-slide-box class="news-slider"  auto-play="true" slide-interval="2000"  does-continue="true" >
                <ion-slide  ng-repeat="newsFeed in newsFeeds ">
                    <span ng-bind="newsFeed.news_title"  ng-click="newsfeed(newsFeed.news_link)"></span>   
                </ion-slide>
            </ion-slide-box>
        </div>
         <div ng-if="showDivider" class="showDivider" ng-class="{ 'gold-border': $root.isMaintain == 'true'}"></div>
          <div class="profile-chat user-scroll" scroll-to-top>
             <!-- open-chat-popup on-long-press="itemOnLongPress()" on-touch-end="itemOnTouchEnd()" -->
            <div class="list" ng-repeat="message in messages | limitTo: -5 ">
               <div class="item item-avatar">
                  <img ng-src="{{message.user_image || 'img/no-user.png'}}" alt="" image-exists>
                  <!-- ng-click="messages.$remove(message)" -->
                  <div class="avater-content">
                     <div ng-model="message.text">
                         {{message.text}}
                         <div class="hideIt" 
                            style="float: right; margin: 5px; margin: -20px 0 0 160px; position: absolute;display: -webkit-inline-box;">
                            <div style="margin: 10px;" class="ion-android-delete" ng-click="messages.$remove(message)"></div> 
                            <!--<div style="margin: 10px;" class="ion-edit" ng-click="saveMessage()"></div>-->
                         </div>
                     </div>
                  </div>
               </div>
            </div>
            <div id="view_all" class="view_all" ng-if="messages.length > 0" ng-click="goToChatPage()">
               <span>View all</span> 
            </div>
         </div>
          

          
      </div>
        
   </ion-content>
    <ion-footer-bar class="fixed-chatting">
        <div class="profile-more-fld" ng-class="{ 'gold-bg': $root.isMaintain == 'true'}">
            <div class="left">
               <a href="#"><i class="icon ion-plus" ng-class="{ 'gold-icon': $root.isMaintain == 'true'}"></i></a>
            </div>
            <div class="right">
               <input type="text" ng-model="campaign_text" ng-click="checkMember()" class="inputBox" placeholder="Add Comment" >
               <input type="submit" ng-click="addMessage(campaign_text)" value="Send">
            </div>
         </div>
    </ion-footer-bar>
    <ion-pull-up-footer class="bar-calm" initial-state="minimized"  max-height="265" on-expand="onFooterExpand()" on-collapse="onFooterCollapse()" state="footerState" default-behavior="show" >
        <ion-pull-up-handle 
        ng-class="{ 'gold-bg': $root.isMaintain == 'true'}"
        icon-expand="ion-chevron-up" icon-collapse="ion-chevron-down" width="100" height="25" style="border-radius: 25px 25px 0 0">
        </ion-pull-up-handle>

        <ion-pull-up-content scroll="false" class="footerContent" >
           
         <div class="page-footer">
                
             <!--div class="cross" ng-click="footerCloseBtn()" >
               <a href="">
               <i class="ion-close icon"></i>
               </a>
            </div-->

            <a class="button" ng-class="{ 'gold-bg': $root.isMaintain == 'true'}" ng-click="logout()" ng-if="check=='1'">Logout</a>
            <a class="button" ng-class="{ 'gold-bg': $root.isMaintain == 'true'}" ng-click="myOwnProfile()" ng-if="check=='1'">Profile</a>

            <a class="button" ng-class="{ 'gold-bg': $root.isMaintain == 'true'}" ui-sref="login" ng-if="check=='0'">Log in</a>
            <a class="button" ng-class="{ 'gold-bg': $root.isMaintain == 'true'}" ng-click="signUp()" ng-if="check=='0'">Sign up</a>
            <!--<a class="button" ng-class="{ 'gold-bg': $root.isMaintain == 'true'}" ng-click="signUp()" ng-if="check=='0'">My Campaign</a>-->

            <p class="ac-bal">Account Balance: <span class="amount" ng-if="check=='0'">&nbsp; $xxx.xx</span>
            <span class="amount" ng-if="check==1">&nbsp; ${{wallet || '0'}}</span>
            </p>
            <div class="p-sec">
               <p>Weight Loss Progress</p>
               <div class="p-bar"><span class="skill"  ng-class="{ 'gold-bg': $root.isMaintain == 'true'}" style="width:{{total_progress}}%"></span></div>
            </div>
            <div class="p-sec">
               <p>Goal Duration</p>
               <div class="p-bar"><span class="skill"  ng-class="{ 'gold-bg': $root.isMaintain == 'true'}" style="width:{{((currentWeight-goal)/currentWeight)*100}}%"></span></div>
               
               
            </div>
                <p ng-if="check=='0'">No. of campaign funded <span >0</span></p>
                 <p ng-if="check=='1'">No. of campaign funded <span >  {{total_campaign || '0'}}</span></p>
           
         </div>  
               
        </ion-pull-up-content>
    </ion-pull-up-footer>
    <div class="user-popup" ng-class="myVar">
        <div class="user-popup-close" ng-click="myVar = 'hideIt'">X</div>
        <ul>
          <li ng-click="giveCalory()">
           <img src="img/give-calorie.svg" alt="">
           <p> Give Calorie </p>
         </li>
         <li ng-click="muteUser()">
           <img src="img/Mute-user.svg" alt="">
           <p> Mute User </p>
         </li>
         <li ng-click="addFriend()">
           <img src="img/add-friend.svg" alt="">
           <p> Add Friend </p>
         </li>
         <li ng-click="reportUser()">
          <img src="img/report-user.svg" alt="">
          <p> Report User </p>
        </li>
        </ul>
      </div>
</ion-view>