<ion-view class="body-bg" view-title="Login" style=" background-image: url(img/body-background.jpg)!important;
    background-repeat: no-repeat; 
    background-position: 0 0; 
    background-size: cover;">
   <ion-header-bar class="screenBackground">
      <button class="button-icon icon  ion-ios7-arrow-back ion-android-arrow-back" style="color:white" ui-sref="globalChat"></button>
   </ion-header-bar>
   <ion-content>
      <div class="full-height">
         <div class="form-block login-block">
            <div class="logo">
               <h1>LOGO</h1>
            </div>
            <form method="post"  name="form" ng-submit="login(data)" role="form">
               <div class="list">
                  <label class="item item-input">
                  <input type="text" placeholder="User Name" name="username" ng-model="data.username" id="username" class="form-control"    required  >
                   <span ng-show="form.username.$touched && form.username.$invalid " class="input-validation-message">Username is required</span>
                  </label>
               </div>
               <div class="list">
                  <label class="item item-input">
                  <input type="password" placeholder="Password" name="password" ng-model="data.password" id="password" class="form-control"  ng-minlength="6"  disallow-spaces required ng-pattern="/^[^\s]+$/">
                  <span ng-show="form.password.$error.required && !form.password.$pristine" class="input-validation-message">Password is required</span>
                                <span ng-show="form.password.$error.minlength" class="input-validation-message">At least 6 characters</span>
                  </label>
               </div>
           
            <div class="login-text">
               <a href="#" class="sign">Sign in with fingerprint.</a>
               <p>Forgot username or password? <a href="#" class="click">Tab here.</a></p>
               <p>If not registered yet. <a ui-sref="signup" class="click">Register Now.</a></p>
            </div>
            <div class="login-btn">
               <button class="button button-block button-calm" type="submit" ng-disabled="form.$invalid">Submit</button>
            </div>
                 </form>
         </div>
      </div>
   </ion-content>
</ion-view>