<ion-view view-title="Signup" class="screenBackground">
   <ion-header-bar class="screenBackground">
      <button class="button-icon icon  ion-ios7-arrow-back ion-android-arrow-back" style="color:white" ui-sref="globalChat"></button>
   </ion-header-bar>
   <ion-content>
      <div class="signup-block">
         <div class="heading">
            <h4>How it works</h4>
         </div>
         <div class="signup-details">
            <ul>
               <li ng-click="commit()">
                  <img src="img/commit.svg" alt=""> 
                  <h5>Commit</h5>
               </li>
               <li ng-click="Market()">
                  <img src="img/progress.svg" alt="">
                  <h5>Market</h5>
               </li>
               <li ng-click="lose_Weight()">
                  <img src="img/weight.svg" alt=""> 
                  <h5>Lose weight</h5>
               </li>
               <li ng-click="doubleYourMoney()">
                  <img src="img/currency.svg" alt="">
                  <h5>Double Your Money</h5>
               </li>
            </ul>
         </div>
         <div class="padding form-block">
            <form method="post" name="form" ng-submit="signup(data)" role="form">
               <div class="list">
                  <label class="item item-input">
                  <input type="text" placeholder="User Name" name="username"  id="username"   class="form-control" ng-model="data.username" disallow-spaces  required>
                  <div ng-show="form.username.$dirty && form.username.$invalid && !form.username.$pristine" class="input-validation-message">Username is required</div>
                  </label>
               </div>
               <div class="list">
                  <label class="item item-input">
                  <input type="password" placeholder="Password" name="password" ng-model="data.password" id="password" class="form-control"  ng-minlength="6"  disallow-spaces   required>
                   <span ng-show="form.password.$error.required && !form.password.$pristine" class="input-validation-message">Invalid Password </span>
                   <span ng-show="form.password.$error.minlength" class="input-validation-message">At least 6 characters</span>
                  </label>
               </div>
               <div class="list">
                  <label class="item item-input">
                  <input type="password" placeholder="Retype Password" name="rpassword" ng-model="data.rpassword" ng-pattern="data.password" class="form-control" ng-minlength="6" required   >
                  <span ng-show="form.rpassword.$error.required && !form.rpassword.$pristine" class="input-validation-message">Invalid Password </span>
                  <span ng-show="form.rpassword.$error.pattern" class="input-validation-message">Both the password should be same</span> 
                  </label>
               </div>
               <div class="list">
                  <label class="item item-input">
                  <input type="email" placeholder="Email" name="email" ng-model="data.email" id="email" class="form-control"  disallow-spaces ng-pattern = '/^(([^<>()\[\]\.,;:\s@\"]+(\.[^<>()\[\]\.,;:\s@\"]+)*)|(\".+\"))@(([^<>()[\]\.,;:\s@\"]+\.)+[^<>()[\]\.,;:\s@\"]{2,})$/i' required>
                  <span ng-show="form.email.$error.required  && !form.email.$pristine" class="input-validation-message">Email is required</span>
                  <span ng-show="form.email.$error.pattern " class="input-validation-message">Email not valid!</span>
                  </label>
               </div>
               <h4>Credit / Banking Information</h4>
               <div class="list">
                  <label class="item item-input">
                  <input type="number" placeholder="Card Number" name="cardNumber" ng-model="data.cardNumber" id="cardNumber" class="form-control" ng-minlength="16" ng-maxlength="16" disallow-spaces required>
                  <span ng-show="form.cardNumber.$error.minlength || form.cardNumber.$error.maxlength" class="input-validation-message">Enter 16 digit valid number</span>
                  </label>
               </div>
               <div class="list">
                  <label class="item item-input">
                  <input type="text" placeholder="Address" name="address" ng-model="data.address" id="address" class="form-control"  disallow-spaces required>
                   <span ng-show="form.address.$dirty && form.address.$invalid && !form.address.$pristine" class="input-validation-message">Address is required</span>
                  </label>
               </div>
               <div class="list">
                  <label class="item item-input">
                  <input type="text" placeholder="City/State/Zip" name="location" ng-model="data.location"  id="location" class="form-control"  disallow-spaces required>
                  <span ng-show="form.location.$dirty && form.location.$invalid && !form.location.$pristine" class="input-validation-message">location is required</span>
                  </label>
               </div>
               <div class="list">
                  <label class="item item-input">
              <input type="text" placeholder="CVV" name="cvv" ng-model="data.cvv"  id="cvv" class="form-control" ng-minlength="3" ng-pattern="/^[0-9]{1,3}$/" disallow-spaces required>
               <span ng-show="form.cvv.$error.required && !form.cvv.$pristine" class="input-validation-message">CVV is required</span>
               <span ng-show="form.cvv.$error.pattern" class="input-validation-message">Only 3 numbers</span>
                  </label>
               </div>
               <div class="signup-range">
                  <div class="left">
                     <div class="signup-select">
                        Select <br> your deposit 
                     </div>
                     <div class="signup-ammount">
                        <ion-list-header>
                           <ion-badge _ngcontent-cbo-6="" color="secondary" class="badge-wp badge-wp-secondary">
                               <h4  ng-model="slider.value">$ {{slider.value}}</h4>
                           </ion-badge>
                        </ion-list-header>
                     </div>
                     <ion-range _ngcontent-cbo-6="" class="range-wp ng-valid ng-touched ng-dirty">
                      
                        <rzslider rz-slider-model="slider.value" rz-slider-high="latestValue"  rz-slider-on-click="getSliderVal()" rz-slider-options="slider.options"></rzslider>
                     </ion-range>
                  </div>
                  <div class="right">
                    <ion-toggle ng-model="roller.checked" ng-change="rollerChange()">
                     </ion-toggle>
                  </div>
               </div>
               <div class="contribute-btn">
                  <button class="button button-block button-calm" type="submit" ng-disabled="form.$invalid">Start Your Campaign</button>
               </div>
            </form>
         </div>
      </div>
   </ion-content>
</ion-view>