<ion-view view-title="" style="background-image: url(img/calorie-background.jpg); background-repeat: no-repeat; background-position: 0 0; background-size: cover;">
    <ion-content class="no-bar">
      <div class="bar bar-header">
         
         <h1 class="title">Profile</h1>
         <button class="button-icon icon  ion-ios7-arrow-back ion-android-arrow-back" style="color:white" ui-sref="globalChat"></button>
      </div>
       
<!--    <ion-slide-box   on-slide-changed="slideHasChanged($index)" show-pager="true" ng-if="items" >
            <ion-slide  ng-repeat="i in items"> 

                   <div  class="video">
              <img class="full-image" style="height:200px" ng-src="{{i.image}}" />
              <a href="https://www.youtube.com/embed/I0riVRmp6G0"></a>
          </div>
       

            </ion-slide>
    </ion-slide-box>-->
 
      <div class="content has-header profile-block">
         <div class="profile-inner" id="profileImg">
            
            <div class="profile-content profile-main">
                <span class="profile-image">
                    <img src="{{mainImage}}" class="profile-image circle" id="profileMainImage" alt="" ng-click="openMainImageVideoModal()"
                         image-exist/>
                </span>
                
               <ion-slide-box class="profile-slider">
                    <ion-slide ng-repeat="profImage in profileImages track by $index">
                      <img ng-repeat="pImage in profImage" ng-if="pImage['profile_image']" src="{{pImage['profile_image']}}" class="circle circleImage" alt="" image-swap/>
                      <img ng-repeat="pImage in profImage" ng-if="pImage['thumb_url']" src="{{pImage['thumb_url']}}" data-video-url="{{pImage['video_url']}}" class="circle circleImage" alt="" image-swap/>
                    </ion-slide>
                </ion-slide-box>
                
                <div class="profile-des">
                   
					
                    <h4>{{my_details.userInfo.result[0].username}}'s campaign</h4>
                    <span class="progress">Progress <strong>50%</strong></span>
                    <div class="rating">
                       <span class="rating-full">calorie <strong><i class="ion-android-star"></i> 100</strong></span> 
                       <span class="rating-give">given <strong><i class="ion-android-star"></i> 5</strong></span> 
                    </div>
                </div>
               
            </div>
         </div>
         <div class="profile-details">
            <ul>
               <li>
                  <h5>Weight</h5>
                  <img src="img/weight.svg" alt=""><span>{{my_details.userInfo.result.campaign[0].current_weight || '0'}}</span>
               </li>
               <li>
                  <h5>Height</h5>
                  <img src="img/height.svg" alt=""><span >{{my_details.userInfo.result.campaign[0].campaign_height || '0'}}</span>
               </li>
               <li>
                  <h5>Goal</h5>
                  <img src="img/goal.svg" alt=""><span >{{my_details.userInfo.result.campaign[0].proposed_weight || '0'}}</span>
               </li>
               <li>
                  <h5>Duration</h5>
                  <img src="img/duration.svg" alt=""><span >{{my_details.userInfo.result.campaign[0].campaign_duration || '0'}}</span>
               </li>
            </ul>
         </div>
<!--          ui-sref="campaignBrowse"-->
         <div class="profile-addmore">
            <ul>
               <li><button class="button button-deep" ng-click="user_list()">+ Support Others</button></li>
               <li><button class="button button-deep">+ Post Update</button></li>
               <li><button class="button button-deep" ui-sref="myCampaign">+ Market Campaign</button></li>
               <li><button class="button button-deep">+ Add Funds</button></li>
               <li><button class="button button-deep" ui-sref="globalChat">+ Global Chat</button></li>
               <li><button class="button button-deep">+ Contributed Campaigns</button></li>
            </ul>
         </div>
<!--         <div class="profile-endcampaign" id="">
           
           <p>your campaign has been cancelled. please wait 3-5 business days to receive
            your refunded money minus 5%. If you had backers, they will be returned to
            you. we're sorry to see you cancelled, and wish you the best.</p>  
           <button class="button button-deep">Information</button>
           <button class="button button-deep" ui-sref="contactAdmin">Contact us</button>
           <button class="button button-deep" ui-sref="campaignBrowse">Start new</button>
         </div>         -->

<div class="profile-chat user-scroll" id="profileChat" ng-show="unCompleteCampaign==='0'" ng-if="myProfile=='0'">
            <div class="list">
               <div class="item item-avatar">
                  <img src="img/circle.png">
                  <div class="avater-content">
                     <p>That is a great campaign <a class="user" href="#">user3</a>. Try eating before 4pm, may help.</p>
                  </div>
               </div>
            </div>
            <div class="list">
               <div class="item item-avatar">
                  <img src="img/circle.png">
                  <div class="avater-content">
                     <p>I concur</p>
                  </div>
               </div>
            </div>
            <div class="list">
               <div class="item item-avatar">
                  <img src="img/circle.png">
                  <div class="avater-content">
                     <p>Thanks <a class="user" href="#">user1</a></p>
                  </div>
               </div>
            </div>
            <div class="list">
               <div class="item item-avatar">
                  <img src="img/circle.png">
                  <div class="avater-content">
                     <p>Here's a star for that tip <a class="user" href="#">user1</a></p>
                  </div>
               </div>
            </div>
         </div>

         <div class="profile-chat user-scroll" id="profileChat" ng-if="myProfile=='1'">
            <div class="list">
               <div class="item item-avatar">
                  <img src="img/circle.png">
                  <div class="avater-content">
                     <p>That is a great campaign <a class="user" href="#">user3</a>. Try eating before 4pm, may help.</p>
                  </div>
               </div>
            </div>
            <div class="list">
               <div class="item item-avatar">
                  <img src="img/circle.png">
                  <div class="avater-content">
                     <p>I concur</p>
                  </div>
               </div>
            </div>
            <div class="list">
               <div class="item item-avatar">
                  <img src="img/circle.png">
                  <div class="avater-content">
                     <p>Thanks <a class="user" href="#">user1</a></p>
                  </div>
               </div>
            </div>
            <div class="list">
               <div class="item item-avatar">
                  <img src="img/circle.png">
                  <div class="avater-content">
                     <p>Here's a star for that tip <a class="user" href="#">user1</a></p>
                  </div>
               </div>
            </div>
         </div>
        
          <div class="profile-endcampaign" ng-show="unCompleteCampaign==='1'" ng-if="myProfile=='0'" id="">
           
           <p style="color:yellow">your campaign setup is not complete.</p>
           <p>Please Complete Your Campaign Setup to unlock all of our key features,<br/>tools and community</p>
           <a style="color:yellow" ui-sref="campaignBrowse">Complete your Campaign</a>
           
         </div> 
      </div>
   </ion-content>
    
    <ion-footer-bar>
        <div class="profile-more-fld">
            <div class="left">
               <a href="#"><i class="icon ion-plus"></i></a>
            </div>
            <div class="right">
               <input type="text" ng-model="campaign_text" on-tap="checkMember()" class="inputBox" placeholder="Add Comment" >
               <input type="submit"  value="Send">
            </div>
         </div>
    </ion-footer-bar>
    
    
    
    <script type="text/ng-template" id="videoModalScript.html">
        <ion-modal-view>
          <ion-header-bar style="border-color: #101010; background-color: #141415;">
           
            <h1 class="title">Video modal</h1>
            <button class="button button-clear button-primary" ng-click="closeModal()">Cancel</button>
          </ion-header-bar>
          <ion-content style="background:#333">
            <div class="embed-responsive embed-responsive-16by9">
              <video id="video-player" class="centerme" autoplay="true" loop ng-src={{modal_video.videoUrl}}></video>
            </div>
          </ion-content>
        </ion-modal-view>
  </script>
    
<!--     <ion-pull-up-footer class="bar-calm" initial-state="minimized"  max-height="265" on-expand="onFooterExpand()" on-collapse="onFooterCollapse()" state="footerState" default-behavior="show" >
        <ion-pull-up-handle icon-expand="ion-chevron-up" icon-collapse="ion-chevron-down" width="100" height="25" style="border-radius: 25px 25px 0 0">
        </ion-pull-up-handle>

        <ion-pull-up-content scroll="false" class="footerContent">
         <div class="page-footer"  >

            <a class="button" ng-click="logout()">Logout</a>
            <a class="button" ui-sref="profile">Profile</a>
            <p class="ac-bal">Account Balance: <span class="amount">&nbsp; ${{wallet}}</span></p>
           <div class="p-sec">
               <p>Weight Loss Progress</p>
               <div class="p-bar"><span class="skill" style="width:{{total_progress}}%"></span></div>
            </div>
            <div class="p-sec">
               <p>Goal Duration</p>
               <div class="p-bar"><span class="skill"></span></div>
               
               <p>No. of campaign funded <span>  {{total_campaign}}</span></p>
            </div>
         </div> 
            
            
             <div class="page-footer"  >
           
            <a class="button" ng-click="logout()" ng-if="check=='1'">Logout</a>
            <a class="button" ui-sref="profile" ng-if="check=='1'">Profile</a>
            <a class="button" ui-sref="login" ng-if="check=='0'">Log in</a>
            <a class="button" ng-click="signUp()" ng-if="check=='0'">My Campaign</a>
            <p class="ac-bal">Account Balance: <span class="amount" ng-if="check=='0'">&nbsp; $xxx.xx</span>
            <span class="amount" ng-if="check=='1'">&nbsp; ${{my_details.userInfo.result.wallet}}</span>
			<span class="amount" ng-if="checking=='0'">&nbsp; ${{my_details_other_profile.userInfo.result.wallet}}</span>
            </p>
            <div class="p-sec">
               <p>Weight Loss Progress</p>
               <div class="p-bar"><span class="skill" style="width:{{total_progress}}%"></span></div>
            </div>
            <div class="p-sec">
               <p>Goal Duration</p>
               <div class="p-bar"><span class="skill"></span></div>
               
               <p>No. of campaign funded <span ng-if="totalCampaign==0">&nbsp;  0</span></p>
                <p>No. of campaign funded <span ng-if="totalCampaign!='0'">&nbsp; {{my_details.userInfo.result.campaign}} </span></p>
            </div>
            
           
         </div>  
        </ion-pull-up-content>
    </ion-pull-up-footer>-->
</ion-view>